*{
  margin: 0;
  padding: 0;
}
.main-container{
      margin:0 auto;
    margin-top: 5%;
}
body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.mt-5{
    margin-top: 5%;
}
.mt-4{
    margin-top: 4%;
}
.card-black img{
    width: 18em;
    height: 18em;
}
.main{
    flex: 1 0 auto;
}
.card-header{
  padding: 0.1% 3%;
}
.login-form{
   justify-content: center;
  width: 100%;
  margin: 25px auto;
  margin-bottom: 10px;
}
[type="checkbox"] + span:not(.lever) {
  position: relative;
  padding-left: 70%;
  vertical-align: middle;
}
[type="checkbox"].filled-in + span:not(.lever):before,
[type="checkbox"].filled-in + span:not(.lever):after {
  content: ' ';
  position: absolute;
   right: 0;
  /* .1s delay is for check animation */
  -webkit-transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
  transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
  vertical-align: middle;
  z-index: 1;
}
.mr-2{
    margin-right: 2%;
}
.justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important; }
